<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Create New Data</title>
</head>
<body>
<div align="center">
    <h1>Create New DataSwalayan</h1>
    <br />
    <form action="#" th:action="@{/save}" th:object="${datasiswa}"
          method="post">

        <table border="0" cellpadding="10">
            <tr>
                <td>Nama Barang:</td>
                <td><input type="text" th:field="*{nama_barang}" required/></td>
            </tr>
            <tr>
                <td>Jumlah Tersedia</td>
                <td><input type="text" th:field="*{jumlah_tersedia}" required/></td>
            </tr>
            <tr>
                <td>Expired Barang</td>
                <td><input type="number" th:field="*{expired_barang}" required /></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Save</button> </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>
